body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

main {
	margin: 0 auto;
	width: 80%;
	max-width: 800px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}


table {
    border-collapse: collapse;
}


table tbody tr, table thead tr {
	border-bottom: 1px solid #ddd;
}

table tbody tr td {
	padding: 3px 10px;
}
